body {
font-family: Arial, Helvetica, sans-serif;
background-color: #f5f5f5;
text-align: center;
}

.container {
display: flex;
justify-content: center;
align-items: center;
gap: 20px;

}

button {
font-size: 20px;
padding: 10px 20px;
cursor:pointer;
border: none;
border-radius: 8px;
background-color: #007bff;
color: white;
}

button:hover {
    background-color: #0056b3;

}

#numero {

font-size: 40px;
width: 80px;
display: inline-block;

}